*{
    font-family: "Oswald", "sans-serif"; 
    box-sizing: border-box;
} 


body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 100px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
    
}

.cabecalho{
    grid-area: cabecalho;
    background-color: rgb(26, 74, 206); 
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    z-index: 1;
    box-shadow: 4px 6px 37px 3px rgba(163, 146, 146, 0.74);

} 

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: aliceblue;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y:scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 6px 37px 3px rgba(0,0,0,0.74);

}


.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;  
    font-size: 1.2rem;
    padding-top: 10px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

.modulos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;

} 

.modulo {
    flex-basis: 25%; 
    border-radius: 5px;

} 

.modulo > h3 {
    display: flex;
    margin: 0px;
    color: #fff;
    justify-content: center;
    font-size: 1.5rem;
    padding: 3px 2px 10px;
    background-color: blue;
} 


.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
} 

.modulo > ul > li {
    padding: 7px;
    font-size:1.1rem;
    cursor: pointer;
} 

.modulo > ul > li > a {
    display: flex;
    text-decoration: none; 
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #5f5f5f;
} 

.modulo.ciano {border: 2px solid #1bb6a9;}
.modulo.ciano > h3{background-color: #1bb6a9;} 


.modulo.verde_musgo {border: 2px solid #5cee08;}
.modulo.verde_musgo > h3{background-color: #5cee08;}


.modulo.cinza {border: 2px solid #5f5f5f;}
.modulo.cinza > h3{background-color: #5f5f5f;}